body {
    font-family: 'Manrope', sans-serif;
    margin:0px;
    overflow: hidden;
}

label {
    font-weight: 200;
}

#wrapper {
    display: grid;
    grid-template-columns: 70px auto 70px;
    grid-template-rows: auto;
    grid-gap: 0px;
    min-height: 100vh;
}

.toolbar {
    background-color: #222;
    text-align: center;
}

.lnr-file-add {
    color: white;
    font-size: 40px;
}

.icon-tool {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.tool-group {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tool-group > div {
    background-color: #444;
    padding: 3px;
}

.tool-group > div:hover {
    background-color: #666;
    padding: 3px;
}

.first-tool {
    margin-top: 10px;
    border-radius: 4px 4px 0 0;
    border-bottom: #222 solid 1px;
}

.middle-tool {
    border-bottom: #222 solid 1px;
}

.last-tool {
    border-radius: 0 0 4px 4px;
}

#beam-modal {
    display: none;
    position: absolute;
    left: 90px;
    top: 10px;
}

#debug-modal {
    display: none;
    position: absolute;
    left: 90px;
    top: 10px;
    width: 70%;
    height: 70%;
}

#debug-modal > .modal-content {
    grid-template-rows: 50px auto 40px;
    display: grid;
    min-height: 100%;
    background: #333;
    opacity: 0.9;
    border-radius: 5px;
    border: #222 solid 2px;
    color: white;
    padding: 20px 20px 10px 20px;
}

#support-modal {
    display: none;
    position: absolute;
    left: 90px;
    top: 265px;
}

.loading * {
    /* disable all mouse events on subElements */
    pointer-events: none; 
}

#force-modal {
    display: none;
    position: absolute;
    left: 90px;
    top: 325px;
}

#load-modal {
    display: none;
    position: absolute;
    left: 90px;
    top: 380px;
}

.arrow-modal {
	position: relative;
    background: #333;
    border-radius: 5px;
    color: white;
    padding: 20px 20px 10px 20px;
}

.arrow-modal:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #333;
	border-width: 10px;
    margin-top: -17%;
}

.label-input-group {
    margin-bottom: 10px;
}

.modal-buttons {
    margin-bottom: 10px;
    text-align: right;
}

.modal-title {
    font-weight: 700;
    margin-bottom: 15px;
}

input {
    background: transparent;
    border: 0;
    border-bottom: #666 solid 1px;
    color: #ff8855;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}

#fixed-position-input {
    display: none;
}

button {
    background: transparent;
    border : #ff8855 solid 1px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    color: white;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

select {
    background: transparent;
    border : #666 solid 1px;
    color: white;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    outline: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

select * {
    background: #333;
}

select:hover{
    border : #ff8855 solid 1px;
}

button:hover {
    background: #ff8855;
}

.inputfile {
    display: none;
}

#open-button {
    padding-left: 10px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: left;
}​

input:focus{
    border: 0;
    border-bottom: #ff8855 solid 1px;  
    outline: none;
}